

.peoplelist {
list-style-type: square;

}

.peoplelist_box button {
margin: 10px;
padding: 10px;
text-align: center;
}

.peoplelist_box {
border: 1px solid black;
width: 150px;
height: auto;
display: flex;
flex-direction: column;
text-align: center;
}

.peoplelist_box li{
text-align: left;
}

header h1{
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    margin: 10px;
    padding: 10px;
}

.pets-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.select-dog {
    text-align: center;
    border: 3px solid grey;
    padding: 10px;
    margin-bottom: 10px;

}

.select-cat {
    text-align: center;
    border: 3px solid grey;
    padding: 10px;
    
}

.adopted {
    text-align: center;
}

.home-form {
    text-align: center;
}

.queued {
    text-align: center;
}