body {
  margin: 0;
  padding: 0;
  height: auto;
  background-image: url('./images/adoptmepic.jpg'); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 100vh; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.root {
  background-color: grey;
  border: 1px solid red;
}

.peoplelist {
  list-style-type: square;
}

.peoplelist_box button {
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.peoplelist_box {
  border: 1px solid black;
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.peoplelist_box li {
  text-align: left;
}

header h1 {
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control {
  margin: 10px;
  padding: 10px;
}

.pets-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.select-dog {
  text-align: center;
  border: 3px solid grey;
  padding: 10px;
  margin-bottom: 10px;
}

.select-cat {
  text-align: center;
  border: 3px solid grey;
  padding: 10px;
}

.adopted {
  text-align: center;
}

.home-form {
  text-align: center;
}

.queued {
  text-align: center;
}

.pet-adopt-card img {
  height: 100px;
}

.pet-adopt-card {
  display: flex;
  flex-direction: column;
}

.pet_adopt_box {
  border: 1px solid black;
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pet_adopt_box li {
  text-align: left;
  list-style: none;
}

.adopting-box {
    display: flex;
    flex-direction: row;
}